<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta property="og:image" content="icons/logo.png">
    <meta property="og:title" content="RoDac Transportation Services">
    <meta property="og:description" content="Logistics website">
    <meta property="og:owner" content="Radu Danila">
    <meta property="og:keywords" content="HTML, CSS, JavaScript">
    <meta property="og:designer" content="Cosmin Neaga, cosmin.neaga91@gmail.com">

    <meta name="Classification" content="Business">
    <meta name="copyright" content="RoDac Limited">
    <meta name="language" content="EN">
    <meta name="author" content="Radu Danila, Cosmin Neaga">
    <meta name="designer" content="Cosmin Neaga, cosmin.neaga91@gmail.com">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RoDac LTD</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="style/index.css">
    <link rel="shortcut icon" href="icons/logo.png" type="image/x-icon">
</head>

<body>

    <div class="top-container-drawer" id="top-drawer" style="display: none;">
        <img src="icons/down-arrow.png" alt="" id="arrow-img">
    </div>

    <div class="top-container" id="top-container">

        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <img src="icons/logo-radu.png" alt="">
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="top-card">
                            <div class="row">
                                <img src="icons/phone.png" alt="">
                                <p>Call us</p>
                            </div>
                            <p>
                                <a href="tel: +447378403404">+447378403404</a>
                            </p>
                        </div>
                        <div class="top-card">
                            <div class="row">
                                <img src="icons/email.png" alt="">
                                <p>Send Us An Email</p>
                            </div>
                            <p>
                                <a href="mailto: office@ro-dac.co.uk">office@ro-dac.co.uk</a>
                            </p>
                        </div>
                        <div class="top-card">
                            <div class="row">
                                <img src="icons/clock.png" alt="">
                                <p>Opening Time</p>
                            </div>
                            <div class="text-center">
                                <p>Mon - Sat&nbsp;&nbsp;&nbsp;09:00 - 18:00</p>
                                <p>Sun&nbsp;&nbsp;&nbsp;09:00 - 14:00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- NAVBAR -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/">RODAC</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#aboutUs">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#contact">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#careers">Careers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#hours">Opening Hours</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- NAVBAR -->

    <div class="container-fluid">

        <!-- CAROUSEL HEADER -->
        <header>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox" id="carouselContainer">
                    <!-- THIS IS WHERE CAROUSEL SLIDES GOES IN -->
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </header>


        <!-- Page Content -->
        <section class="py-5">
            <div class="container">

                <div class="row">
                    <div class="col-md-4">
                        <div class="container-card">
                            <img src="icons/van.png" alt="">
                            <p class="title">Our Vans</p>
                            <p class="subtitle">Any destination you need</p>
                            <p class="description">We offer moving services in different van sizes to suit all our
                                customer needs.</p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="container-card">
                            <img src="icons/suitcase.png" alt="">
                            <p class="title">Our Drivers</p>
                            <p class="subtitle">Loyal, Hard-Working, Very Carefull and Highly Experienced</p>
                            <p class="description">All of our drivers are regular business partners.</p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="container-card">
                            <img src="icons/guaranteed.png" alt="">
                            <p class="title">100% Guaranteed</p>
                            <p class="subtitle">We stand by our service</p>
                            <p class="description">Safe and on-time delivery of your goods is our primary concern.</p>
                        </div>
                    </div>

                </div>

            </div>

        </section>

        <div class="upper-wrapper" id="aboutUs">

            <div class="content">

                <div class="row">
                    <div class="col-lg-7">
                        <h2>Rodac Logistics</h2>
                        <p>Here at Rodac Logistics Ltd. we offer a friendly & efficient service, giving exceptional
                            value for money. We will deliver any size of goods from a letter to full pallets and more,
                            to almost anywhere in U.K. We pride ourselves on
                            being focused on our customers needs and are very adaptable in an ever changing and
                            challenging market place. Our promise to you is to continually strive to exceed your
                            expectations. At Rodac Logistics all our drivers are proven
                            professional & experienced courier drivers. All vehicles are fitted with Satellite Trackers
                            for live update on vehicle status & location. Staff are uniformed and carry with them ID
                            cards and company mobile phones at all times.
                            We realise how important it is to have polite staff delivering consignments to your
                            customers.</p>
                    </div>

                    <div class="col-lg-5">
                        <img src="images/parcel.jpeg" alt="">
                    </div>
                </div>

            </div>

        </div>

        <div class="second-wrapper" id="services">

            <div class="container my-2">
                <h1 class="text-center">Our Services</h1>
                <div class="row">
                    <div class="col-lg-7">
                        <div class="scn-img-container">
                            <img src="images/van-fleet.jpg" alt="">
                        </div>
                        <div class="scn-img-caption">
                            <h2>100% guaranteed</h2>
                            <hr>
                            <p>
                                We stand by our service Safe and on time delivery of your goods is our primary concern,
                                with top notch staff highly modernised vehicles we are confident we can do it.
                            </p>
                            <p>
                                We transport goods quickly and efficiently anywhere in the UK, we do transportation
                                including Apartment/Flat Removals, House Removals, Office Removals throughout all the
                                UK.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-5 py-5">

                        <div class="row my-4">
                            <div class="col-4">
                                <div class="scn-van-image">
                                    <img src="images/second-section/swb.jpeg" alt="">
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="scn-van-description">
                                    <h3>Transport van SWB</h3>
                                    <p>Express SWB Van Transportation Service</p>
                                </div>
                            </div>
                        </div>

                        <div class="row my-4">
                            <div class="col-4">
                                <div class="scn-van-image">
                                    <img src="images/second-section/lwb.jpeg" alt="">
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="scn-van-description">
                                    <h3>Transport van LWB</h3>
                                    <p>Contact us for expert transportation services at the best prices</p>
                                </div>
                            </div>
                        </div>

                        <div class="row my-4">
                            <div class="col-6">
                                <div class="scn-courier-image">
                                    <img src="images/second-section/courier-man.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="scn-van-description">
                                    <h3>Our Drivers</h3>
                                    <p>All of our drivers are regular business partners, and we have been working
                                        together for several years. They are loyal, hard working, very careful and
                                        highly experienced.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-2">

                    </div>
                </div>
            </div>

        </div>

        <div class="third-wrapper" id="contact">

            <div class="container">

                <h2 class="display-4">Contact Us</h2>
                <div class="row">

                    <div class="col-sm-6">
                        <p class="info-title">EMAIL</p>
                        <p class="info-details">info@ro-dac.co.uk</p>
                    </div>

                    <div class="col-sm-6">
                        <p class="info-title">TELEPHONE</p>
                        <p class="info-details">07378 403 404</p>
                    </div>

                </div>

                <div class="row my-5">

                    <div class="form-container">

                        <div class="row w-100 m-0 my-3">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="First name" id="contact-fname">
                                <div class="invalid-feedback">Please add formatted name. i.e. Michael</div>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Last name" id="contact-lname">
                                <div class="invalid-feedback">Please add formatted name. i.e. Russell</div>
                            </div>
                        </div>

                        <div class="row w-100 m-0 my-3">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Email address" id="contact-email">
                                <div class="invalid-feedback">Please add formatted email address. i.e. russell@gmail.com
                                </div>
                            </div>
                        </div>

                        <div class="row w-100 m-0 my-3">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Subject" id="contact-subject">
                                <div class="invalid-feedback">Please add a subject to your query.</div>
                            </div>
                        </div>

                        <div class="row w-100 m-0 my-3">
                            <div class="col">
                                <textarea name="message" id="contact-message" cols="30" rows="10" placeholder="Message"
                                    class="form-control"></textarea>
                                <div class="invalid-feedback">Please add a message to your enquiry.</div>
                            </div>
                        </div>

                        <div class="row w-100 m-0 my-3">
                            <div class="col">
                                <button class="btn btn-outline-success float-left" id="contact-submit">Submit</button>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>


    </div>

    <footer>

        <div class="container py-5 text-light">
            <div class="row">

                <div class="col-lg-3">
                    <h4>ABOUT US</h4>
                    <div class="footer-logo">
                        <img src="icons/logo-radu.png" alt="Company Logo">
                    </div>
                    <p>RODAC is a moving company that specialises in the multi drop delivery of any size parcels or
                        goods.</p>
                </div>
                <div class="col-lg-3" id="careers">
                    <h4>CAREERS</h4>
                    <p>If you'd like to join our team of drivers please fill the form below, we will do our best to
                        reply back in 48 hours.</p>

                    <div class="form-group">
                        <input type="text" class="form-control form-control-sm" placeholder="Full Name"
                            id="careers-fullname">
                        <div class="invalid-feedback">Please enter your full name. I.e. Michael Russell</div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control form-control-sm" placeholder="E-mail Address"
                            id="careers-email">
                        <div class="invalid-feedback">Please provide email address. I.e. russel@gmail.com</div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control form-control-sm" placeholder="Phone Number"
                            id="careers-phone">
                        <div class="invalid-feedback">Please provide phone number. I.e 07549999999</div>
                    </div>
                    <div class="custom-file">
                        <input type="file" accept="application/pdf" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">Upload CV</label>
                        <div class="invalid-feedback">Please upload your CV.</div>
                    </div>

                    <p>We only accept files in pdf format of a maximum size of 10 mb.</p>
                    <div class="form-group mt-3">
                        <button class="btn btn-outline-light" id="careers-submit-button" ">Submit</button>
                    </div>

                </div>
                <div class=" col-lg-3 ">
                    <h4>TRANSPORT OFFICE</h4>
                    <br>
                    <div class=" footer-office ">
                        <p>RODAC LIMITED LTD</p>
                        <p>Derby</p>
                        <p>DE73 5WW</p>
                        <p>Phone: +447378403404</p>
                    </div>
                </div>
                <div class=" col-lg-3 " id=" hours ">
                    <h4>WORKING HOURS</h4>
                    <br> Monday - Friday: <span class=" right ">09:00 - 18:00</span>
                    <br><br> Saturday: <span class=" right ">09:00 - 18:00</span>
                    <br><br> Sunday: <span class=" right ">09:00 - 14:00</span>
                </div>
            </div>
        </div>

        <div class=" container pb-5 ">
            <hr class=" footer-hr ">
            <div class=" text-center w-50 mx-auto footer-trademark ">
                <p><a href=" /privacy-policy ">Privacy Policy</a> | <a href=" /terms-and-conditions ">Terms and Conditions</a></p>
                <br>
                <p>RODAC LIMITED | &reg; Transportation. All rights reserved.</p>
                <p>
                    Created with
                    <img src=" icons/cosmin/heart.png " style=" width: 20px; height: 20px; " alt=" Red Heart Icon "> by Cosmin Neaga,
                    <a href=" www.cosminneaga.dev">cosminneaga.dev</a>
                            </p>
                    </div>
                </div>

    </footer>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js "
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj "
        crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js "
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo "
        crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js "
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI "
        crossorigin="anonymous "></script>
    <script src="javascript/carouselData.js "></script>
    <script src="javascript/index.js "></script>
    <script src="javascript/contactForm.js "></script>
    <script src="javascript/careersForm.js "></script>
</body>

</html>