<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta property="og:image" content="icons/logo.png">
    <meta property="og:title" content="RoDac Transportation Services">
    <meta property="og:description" content="Logistics website">
    <meta property="og:owner" content="Radu Danila">
    <meta property="og:keywords" content="HTML, CSS, JavaScript">
    <meta property="og:designer" content="Cosmin Neaga, cosmin.neaga91@gmail.com">

    <meta name="Classification" content="Business">
    <meta name="copyright" content="RoDac Limited">
    <meta name="language" content="EN">
    <meta name="author" content="Radu Danila, Cosmin Neaga">
    <meta name="designer" content="Cosmin Neaga, cosmin.neaga91@gmail.com">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RoDac LTD | Terms and Conditions</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="style/index.css">
    <link rel="shortcut icon" href="icons/logo.png" type="image/x-icon">
</head>

<body>

    <div class="top-container-drawer" id="top-drawer" style="display: none;">
        <img src="icons/down-arrow.png" alt="" id="arrow-img">
    </div>

    <div class="top-container" id="top-container">

        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <img src="icons/logo-radu.png" alt="">
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="top-card">
                            <div class="row">
                                <img src="icons/phone.png" alt="">
                                <p>Call us</p>
                            </div>
                            <p>
                                <a href="tel: +447378403404">+447378403404</a>
                            </p>
                        </div>
                        <div class="top-card">
                            <div class="row">
                                <img src="icons/email.png" alt="">
                                <p>Send Us An Email</p>
                            </div>
                            <p>
                                <a href="mailto: office@ro-dac.co.uk">office@ro-dac.co.uk</a>
                            </p>
                        </div>
                        <div class="top-card">
                            <div class="row">
                                <img src="icons/clock.png" alt="">
                                <p>Opening Time</p>
                            </div>
                            <div class="text-center">
                                <p>Mon - Sat&nbsp;&nbsp;&nbsp;09:00 - 18:00</p>
                                <p>Sun&nbsp;&nbsp;&nbsp;09:00 - 14:00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- NAVBAR -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/">RODAC</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#aboutUs">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#contact">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#careers">Careers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#hours">Opening Hours</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- NAVBAR -->

    <div class="container">
        <section id="content-section" class="py-5 px-2"></section>
    </div>

    <footer>

        <div class="container py-5 text-light">
            <div class="row">

                <div class="col-lg-3">
                    <h4>ABOUT US</h4>
                    <img class="footer-logo" src="icons/logo-radu.png" alt="Company Logo">
                    <p>RODAC is a moving company that specialises in the multi drop delivery of any size parcels or goods.</p>
                </div>
                <div class="col-lg-3" id="careers">
                    <h4>CAREERS</h4>
                    <p>If you'd like to join our team of drivers please fill the form below, we will do our best to reply back in 48 hours.</p>
                    <div class="form-group">
                        <input type="text" class="form-control form-control-sm" placeholder="Full Name" id="careers-fullname">
                        <div class="invalid-feedback">Please enter your full name. I.e. Michael Russell</div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control form-control-sm" placeholder="E-mail Address" id="careers-email">
                        <div class="invalid-feedback">Please provide email address. I.e. russel@gmail.com</div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control form-control-sm" placeholder="Phone Number" id="careers-phone">
                        <div class="invalid-feedback">Please provide phone number. I.e 07549999999</div>
                    </div>
                    <div class="custom-file">
                        <input type="file" accept="application/pdf" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">Upload CV</label>
                        <div class="invalid-feedback">Please upload your CV.</div>
                    </div>

                    <p>We only accept files in pdf format of a maximum size of 10 mb.</p>
                    <div class="form-group mt-3">
                        <button class="btn btn-outline-light" id="careers-submit-button" ">Submit</button>
                    </div>
                </div>
                <div class="col-lg-3 ">
                    <h4>TRANSPORT OFFICE</h4>
                    <br>
                    <div class="footer-office ">
                        <p>RODAC LIMITED LTD</p>
                        <p>Derby</p>
                        <p>DE73 5WW</p>
                        <p>Phone: +447378403404</p>
                    </div>
                </div>
                <div class="col-lg-3 " id="hours ">
                    <h4>WORKING HOURS</h4>
                    <br> Monday - Friday: <span class="right ">09:00 - 18:00</span>
                    <br><br> Saturday: <span class="right ">09:00 - 18:00</span>
                    <br><br> Sunday: <span class="right ">09:00 - 14:00</span>
                </div>
            </div>
        </div>

        <div class="container pb-5 ">
            <hr class="footer-hr ">
            <div class="text-center w-50 mx-auto footer-trademark ">
                <p><a href="/privacy-policy ">Privacy Policy</a> | <a href="/terms-and-conditions ">Terms and Conditions</a></p>
                <br>
                <p>RODAC LIMITED | &reg; Transportation. All rights reserved.</p>
                <p>
                    Created with
                    <img src="icons/cosmin/heart.png " style="width: 20px; height: 20px; " alt="Red Heart Icon "> by Cosmin Neaga,
                    <a href="http://neagac.co.uk ">neagac.co.uk</a>
                </p>
            </div>
        </div>

    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js " integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js " integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI " crossorigin="anonymous "></script>

    <script src="javascript/index.js "></script>
    <script src="javascript/careersForm.js "></script>
    <script src="javascript/pp&tac/tac.js "></script>
</body>

</html>